<%- include('../elements/head', {name: title}) -%>
    <div class="form">
        <h1><%= msg %> :|</h1>
        <img class="error-img" src="/images/404.svg" alt="">
    </div>
    </body>

    </html>