<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title><%= name %></title>
    <link rel="shortcut icon" href="/images/aL.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/other/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <a href="/"><img class="backHome" src="/images/home.svg" alt=""></a>
        <a href="/discussion">Ask</a>
        <a href="/search">Find</a>
        <% if (!currentUser) { %>
            <a href="/login">Login</a>
            <a href="/register" >Register</a>
        <% } else { %>
            <a href="/myprofile/<%= currentUser._id %>">Profile</a>
            <a href="/logout">Logout</a>
        <% } %>
    </nav>