<%- include('../elements/head', {name: title}) -%>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>

<div class="form">
    <h1 class="name">Albanian Map</h1>
    <div id="map"></div>
</div>

<%- include('../elements/footer') %>
    <script src="/js/other/map.js"></script>
    </body>
</html>